
/* START NAVIGATION BAR */
#navigation {
	position:fixed;
	height: 2em;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#myMenu {
	display: flex;
	flex-direction: row;
	width: 30%;
	height: 1.85em;
	margin-top: 2em;
	margin-left: 2.5em;
	min-width: 22em;
}

.menuItem {
	flex-grow: 1;
	font-family: "freight-sans-pro";
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .17em;
	font-size: 1em;
}

.menuItemNone {
	display: none;
}

.menuItem a {
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none
}

.active a {
	color: rgba(0, 0, 0, 0.7);
}

#hoverNavLine {
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	width: 0em;
	height: .06em;
	background-color: #b7a080;
}
/* END NAVIGATION BAR */

/* START WELCOME PAGE */
.welcomeMain {
	position: relative;
	bottom: 20%;
	transform: translateY(20%);
	text-align: center;
	z-index: 1000000000;
}

.subHeader {
	font-family: "freight-text-pro";
	font-weight: 600;
	color: rgba(0, 0, 0, 0.3);
	letter-spacing: .03em;
	font-size: .9em;
	margin-bottom: 0;
	margin-top: .3em;
}

.italic {
	font-style: italic;
	font-size: 1.1em;
}

.header {
	text-transform: uppercase;
	letter-spacing: .18em;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	font-family: "freight-sans-pro";
	font-size: 1.5em;
	margin-top: .7em;
	margin-bottom: 0;
}

.subHeaderGold {
	font-family: "freight-text-pro";
	font-weight: 100;
	color: #b7a080;
	letter-spacing: .08em;
	font-size: .9em;
	margin-bottom: 0;
	margin-top: .3em;
}

.ampersand {
	font-style: italic;
	font-family: "freight-big-pro";
}

.centerSpacer {
	margin-left: 3em;
	margin-right: 3em;
}

.subHeaderGold p {
	display: inline;
}

.circle {
	width: 3px;
	height: 3px;
	background: #b7a080;
	border-radius: 50%;
	display: inline-block;
	margin-bottom: .2em;
	margin-left: .4em;
	margin-right: .4em;
}

.rightArrow {
	height: 3em;
	width: 1.5em;
	content: url(public/rightArrow.png);
	position: absolute;
	top: 46%;
	right: 0;
}
/* END WELCOME PAGE */

/* START WORKS PAGE */
.expandingMenu {
	height: .8em;
	width: 1em;
	content: url(public/menu_icon.png);
	position: absolute;
	top: 5em;
	left: 1em;
	display: none;
}

.worksSidebar {
	width: 20em;
	height: 100%;
	margin-top: 14em;
}

.categoryHeader {
	font-family: "freight-text-pro";
	color: #b7a080;
	font-size: 1.15em;
	margin-bottom: .4em;
	letter-spacing: .03em;
	margin-left: 2em;
}

.projectTitle a {
	margin-left: 3.6em;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.3);
	line-height: 1.5em;
	display: inline;
}

.projectTitle a:hover {
	color: rgba(0, 0, 0, 0.7);
}

.workDescription {
	font-style: italic;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	margin-left: .5em;
}

#FWDesc {
	display: none;
}

#MMDesc {
	display: none;
}

#ZDesc {
	display: none;
}

#FSDesc {
	display: none;
}

#RDesc {
	display: none;
}

.checkbox {
	width: 1em;
	height: 1em;
	/*background-color: blue;*/
	display: inline-block;
	text-align: center;
	margin-left: 2em;
	margin-right: .3em;
	color: #f0f0f0;
	font-family: "lato";
	border-bottom: 1px #a8a8a8 solid;
}

.projectTitle {
	display: inline;
	line-height: 1.6em
}

.checked {
	font-size: .8em;
	margin: 0;
}

.tags {
	margin-top: 4em;
}
/* END WORKS PAGE */

/* START QUI PAGE */
.quiContainer {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin-top: 12em;
}

.quiSidebar {
	/*background-color: red;*/
	height: 100%;
	flex: 1;
	max-width: 20em;
	min-width:17em;
}

.content {
	/*background-color: blue;*/
	height: 100%;
	flex: 3;
	text-align: center;
	min-width: 22em;
	display: flex;
	flex-direction: column;
}

.contentText {
	margin-top: 7.7em;
	flex: 2;
}

.education {
	margin-top: 0;
}

.universities {
	margin-left: 3.5em;
}

.personalityBox {
	margin-top: 4em;
}

.skillsetBox {
	margin-top: 4em;
}

.resume {
	margin-left: 2.5em;
}

.links a{
	text-transform: uppercase;
	letter-spacing: .18em;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 600;
	font-family: "freight-sans-pro";
	font-size: 1.5em;
	margin-top: .4em;
	margin-bottom: 0;
	text-decoration: none;
}

.elsewhere {
	font-style: italic;
}

.quiSidebarRight {
	/*background-color: yellow;*/
	height: 100%;
	flex: 1;
	max-width: 20em;
	min-width:17em;
}

.subHeader a {
	color: rgba(0, 0, 0, 0.3);;
}

.contactText {
	/*background-color: green;*/
	flex: 1;
	align-items: flex-end;
}

.contact {
	margin-top: 3.5em;
}

#multipotentialite a {
	margin-left: 0;
}

.checkboxQui {
	width: 1em;
	height: 1em;
	/*background-color: blue;*/
	display: inline-block;
	text-align: center;
	margin-left: 2em;
	margin-right: .3em;
	color: #a8a8a8;
	font-family: "lato";
	border-bottom: 1px #a8a8a8 solid;
}
/* END QUI PAGE */

/* START PLAYGROUND PAGE */
.fp-controlArrow.fp-prev {
    left: 0 !important;
    border: none;
    width: 25px !important;
    height: 45px;
    background: url(public/leftArrow.png) no-repeat;
    cursor: pointer;
    right: 0;
}
.fp-controlArrow.fp-next {
    right: 0 !important;
    border: none;
    width: 25px;
    height: 45px;
    background: url(public/rightArrow.png) no-repeat;
    cursor: pointer;
}

.playgroundIntro {
	text-align: center;
}

.projectContentImgPlayground {
	margin-left: 5%;
	margin-right: 5%;
	flex: 1;
/*	align-items: center;
	justify-content: center;*/
}

img {
	width: 100%;
	/*top: 50%;*/
	min-width: 35em;
}

.AlignerPlayground {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.Aligner-itemPlayground {
	max-width: 100%;
	max-height: 50%;
}

.HolyGrailPlayground {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex: 1;
}

.HolyGrail-bodyPlayground {
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 25em;
}

.leftSidebarPlayground, .rightSidebarPlayground {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  background-color: transparent;
}

.leftSidebarPlayground {
  /* put the nav on the left */
  order: -1;
}

/*.playgroundText {
	position: absolute;
	bottom: 0;
	width: 100%;
}*/

/*.playgroundText p {
	display: inline;
}*/

.playgroundTextDesc {
	margin-top: .4em;
	width: 100%;
	flex-direction: row;
}

.leftPlaygroundTextDesc a{
	order: 1;
	flex: 2;
	display: inline;
	font-family: "freight-text-pro";
	font-weight: 100;
	color: #b7a080;
	letter-spacing: .08em;
	font-size: .9em;
	margin-bottom: 0;
}

.rightPlaygroundTextDesc{
	order: 2;
	flex: 2;
	display: inline;
	float: right;
	font-family: "freight-text-pro";
	font-weight: 600;
	color: rgba(0, 0, 0, 0.3);
	letter-spacing: .03em;
	font-size: .9em;
	margin-bottom: 0;
	margin-top: 0;
}

.fp-controlArrow.fp-next {
	z-index: 202;
}
/* END PLAYGROUND PAGE */

/* SLIDER */
.sliderToggle {
 width: 15em;
 position: relative;
 bottom: 2em;
 z-index: 3;
 margin: auto;
}

.range-handle {
	height: 20px;
	width: 20px;
	top: -11px;
	background-color: #F0F0F0
}

.range-quantity {
	background-color: #b7a080;
}

.range-min {
	display: none;
}

.range-max {
	display: none;
}

.range-bar {
	height: 2.2px;
}

.colorHider {
	background-color: #F0F0F0;
	width: 100%;
	 position: absolute;
	 bottom: 1.3em;
	 z-index: 4;
	 height: 23px;
}
/* END SLIDER */

/* CAMEL SVG */
svg {
	position: relative;
	left:160px;
	bottom:120px;
	z-index: 2;
	width: 540px;
}

#camel_fixed {
	position: absolute;
	width: 752px;
	height: 368px;
	bottom: 0;
}

#camel_drawing {
	position: absolute;
	left:0;
	bottom:60px;
	height: 368px;
	display: none;
	width: 752px;
	opacity: 1;
	z-index: 1;
}

#handPiece {
	position: absolute;
	left:0;
	bottom:60px;
	width: 752px;
	height: 368px;
	display: none;
	opacity: 1;
	z-index: 5;	
}

.path {
	stroke-dashoffset:1940;
	stroke-dasharray:1940;
	-webkit-animation: draw 100s linear;
	-webkit-animation-play-state: initial;
	-webkit-animation: draw 30s linear infinite;
	animation: draw 100s linear;
	animation-play-state: initial;
	animation: draw 30s linear infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	fill-opacity: 0;
	position:relative;
}

@keyframes draw {
	30%{fill-opacity: 0;}
	31%{fill-opacity: 1;}
	32%{fill-opacity: 0;}
	33%{fill-opacity: 1;}
	34%{fill-opacity: 0;}
	35%{fill-opacity: 1;}
	50%{stroke-dashoffset:0;}
	100%{stroke-dashoffset:0; fill-opacity: 1;}
}
/* CAMEL SVG */

/* CAMERA SVG */
.cameraContainer {
	width: 350px;
	height: 350px;
	position: absolute;
	right: 263px;
	bottom: 7em;
	z-index: 200;
}

svg.camera_svg {
	position: absolute;
	right:0;
	bottom:0px;
	right:0;
	z-index: -1;
}

img#bird_drawing {
	position: absolute;
	right:-234px;
	bottom:44px;
	height: 368px;
	display: none;
	width: 330px;
	opacity: 1;
	z-index: 1;
	min-width: 21em;
}

.camera_path {
	fill: none;
	stroke: #646363;
	stroke-width: 1.4;
	stroke-miterlimit: 10;
	stroke-dashoffset:1940;
	stroke-dasharray:1940;
	-webkit-animation: draw 100s linear;
	-webkit-animation-play-state: initial; /* Setting to 'paused' did not work */
	-webkit-animation: draw 30s linear infinite;
	animation: draw 100s linear;
	animation-play-state: initial; /* Setting to 'paused' did not work */
	animation: draw 30s linear infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	fill-opacity: 0;
	position:relative;
	display: none;
}

@keyframes draw {
	30%{fill-opacity: 0;}
	31%{fill-opacity: 1;}
	32%{fill-opacity: 0;}
	33%{fill-opacity: 1;}
	34%{fill-opacity: 0;}
	35%{fill-opacity: 1;}
	50%{stroke-dashoffset:0;}
	100%{stroke-dashoffset:0; fill-opacity: 1;}
}
/* CAMERA SVG */

/* LADDER SVG */
svg.ladder_svg {
	position: absolute;
	right:0;
	bottom:0px;
	right:0;
	z-index: -1;
}

.ladderContainer {
	width: 240px;
	height: 526px;
	position: absolute;
	right: 400px;
	bottom: 3em;
	z-index: 200;
}

img#ladder_drawing {
	position: absolute;
	right:-307px;
	bottom:37px;
	height: 100%;
	display: none;
	width: 234px;
	opacity: 1;
	z-index: 1;
	min-width: 13em;
}

.ladder_path {
	fill: none;
	stroke: #646363;
	stroke-width: 1.4;
	stroke-miterlimit: 10;
	stroke-dashoffset:1940;
	stroke-dasharray:1940;
	-webkit-animation: draw 100s linear;
	-webkit-animation-play-state: initial; /* Setting to 'paused' did not work */
	-webkit-animation: draw 30s linear infinite;
	animation: draw 100s linear;
	animation-play-state: initial; /* Setting to 'paused' did not work */
	animation: draw 30s linear infinite;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	fill-opacity: 0;
	position:relative;
	display: none;
}

.short {
	fill: none;
	stroke: #646363;
	stroke-width: 1.4;
	stroke-miterlimit: 10;
	stroke-dashoffset:1940;
	stroke-dasharray:1940;
	-webkit-animation: draw 100s linear;
	-webkit-animation-play-state: initial; /* Setting to 'paused' did not work */
	-webkit-animation: draw 30s linear infinite;
	animation: draw 100s linear;  /* Want to change the circles to draw later NOT WORKING YET */
	animation-play-state: paused;
	animation: draw 30s linear infinite;
	/*animation-iteration-count: 1;*/
	animation-delay: 6s;
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	fill-opacity: 0;
	position:relative;
	display: none;
}

@keyframes draw {
	30%{fill-opacity: 0;}
	31%{fill-opacity: 1;}
	32%{fill-opacity: 0;}
	33%{fill-opacity: 1;}
	34%{fill-opacity: 0;}
	35%{fill-opacity: 1;}
	50%{stroke-dashoffset:0;}
	100%{stroke-dashoffset:0; fill-opacity: 1;}
}
/* LADDER SVG */

/* KITE SVG */
.kiteContainer {
	width: 240px;
	height: 526px;
	position: absolute;
	right: 390px;
	bottom: 0em;
	z-index: 200;
}

svg.kite_svg {
	position: absolute;
	right:0;
	bottom:69px;
	right:-40px;
	z-index: -1;
}

#kite_drawing {
	position: absolute;
	right:-309px;
	bottom:0px;
	height: 200px;
	display: none;
	width: 70px;
	opacity: 1;
	z-index: 1;
	min-width: 7em
}

.kite_path {
	fill: none;
	stroke: #646363;
	stroke-width: 1.4;
	stroke-miterlimit: 10;
	stroke-dashoffset:1940;
	stroke-dasharray:1940;
	-webkit-animation: draw 100s linear;
	-webkit-animation-play-state: initial; /* Setting to 'paused' did not work */
	-webkit-animation: draw 30s linear infinite;
	animation: draw 100s linear;  /* Want to change the circles to draw later NOT WORKING YET */
	animation-play-state: paused;
	animation: draw 30s linear infinite;
	/*animation-iteration-count: 1;*/
	/*animation-delay: 6s;*/
	-webkit-animation-direction: normal;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-direction: normal;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	fill-opacity: 0;
	position:relative;
	display: none;
}

@keyframes draw {
	30%{fill-opacity: 0;}
	31%{fill-opacity: 1;}
	32%{fill-opacity: 0;}
	33%{fill-opacity: 1;}
	34%{fill-opacity: 0;}
	35%{fill-opacity: 1;}
	50%{stroke-dashoffset:0;}
	100%{stroke-dashoffset:0; fill-opacity: 1;}
}


/* KITE SVG */
