.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  flex: 1;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  justify-content: center;
  min-width: 57em;
}

.projectContent {
  flex: 1;
  min-width: 26em;
}

.leftSidebar, .rightSidebar {
  /* 12em is the width of the columns */
  flex: 0 0 12em;
  background-color: transparent;
}

.leftSidebar {
  /* put the nav on the left */
  order: -1;
}

.footer {
	height: 2em;
	background-color: blue;
}

.menuToggle {
	height: 1.3em;
	width: 1.3em;
	background-color: yellow;
	z-index: 11;
	position: absolute;
	top: 4.2em;
	left: 1em;
}

.projectSidebar {
	width: 12em;
	background-color: transparent;
	z-index: 10;
	position: absolute;
	top: 0;
	left: -12em;
	height: 100%;
	/*display: none;*/
}

.mostRecent {
	margin-top: 7.2em;
}

#MMName a {
	color: rgba(0, 0, 0, 0.7);
}

#worksProjectNav a {
	color: rgba(0, 0, 0, 0.7);
}

#hoverNavLineWorks {
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	width: 7em;
	height: .06em;
	background-color: #b7a080;
}
/* INTRO PAGE STYLING */
.projectContent {
	margin-left: 10%;
	margin-right: 10%;
	min-height: 30em;
}

.projectContentHeader {
	font-family: "freight-text-pro";
	font-weight: 600;
	color: rgba(0, 0, 0, 0.7);
	font-size: 1.2em;
	letter-spacing: .04em;
	margin-bottom: .4em;
	margin-top: 31%;
}

.projectContentDescription {
	font-family: "freight-text-pro";
	font-weight: 400;
	color: rgba(0, 0, 0, 0.6);
	letter-spacing: .02em;
	margin-top: 0;
}

.bulletPoints {
	margin-top: 1.5em;
}

.bulletPointsBold {
	color: #b7a080;
	font-family: "freight-sans-pro";
	font-weight: 700;
	text-transform: uppercase;
	display: inline;
	font-size: .8em;
	letter-spacing: .1em
}

.bulletPointsText {
	color: #b7a080;
	font-family: "freight-text-pro";
	display: inline;
	font-weight: 100;
	letter-spacing: .08em;
	font-size: .88em;
}

.downArrow {
	height: 1.5em;
	width: 3em;
	/*content: url(../public/downArrow_test.png);*/
	content: url(../public/downArrow.png);
	position: absolute;	
	bottom: 0;
	left: 50%;
	/*z-index: 10000*/
}

.projectContentImg {
	margin-left: 5%;
	margin-right: 5%;
	flex: 1;
/*	align-items: center;
	justify-content: center;*/
}

img {
	width: 100%;
	/*top: 50%;*/
	min-width: 35em;
}

.Aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.Aligner-item {
	max-width: 100%;
	max-height: 50%;
}

/* MENU ICON ANIMATION */
.barContainer {
position: relative;
top: -44px;
}

.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 38px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 44px;
  left: 0px;
  right: 0px;
  height: 1.5px;
  background: rgba(0, 0, 0, 0.3);
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.c-hamburger span::before {
  top: -6px;
}

.c-hamburger span::after {
  bottom: -6px;
}

.c-hamburger--htx {
  background-color: #f0f0f0;
}

.c-hamburger--htx span {
  transition: background 0s 0.2s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.2s, 0.2s;
  transition-delay: 0.2s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #f0f0f0;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.2s;
}
/* END MENU ICON NAVIGATION */


